{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<article class="pub-card" itemscope itemtype="http://schema.org/ScholarlyArticle">
  <h2 class="pub-card__title" itemprop="name">
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}" itemprop="url">{{ title }}</a>
    {% else %}
      {{ title }}
    {% endif %}
  </h2>

  <p class="pub-card__meta">
    <em itemprop="publisher">{{ post.venue }}</em>
    &nbsp;&middot;&nbsp;
    <span itemprop="datePublished">{{ post.date | default: "1900-01-01" | date: "%Y" }}</span>
  </p>

  {% if post.authors %}
  <p class="pub-card__authors" itemprop="author">{{ post.authors }}</p>
  {% endif %}

  {% if post.abstract %}
  <p class="pub-card__abstract" itemprop="description">{{ post.abstract }}</p>
  {% endif %}

  <div class="pub-card__links">
    {% if post.paperurl %}
    <a href="{{ post.paperurl }}" class="pub-card__link pub-card__link--pdf">
      <i class="fas fa-file-pdf" aria-hidden="true"></i>&nbsp;PDF
    </a>
    {% endif %}
  </div>
</article>
